*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
/* for font-family */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* color section */
.bg-primary{ background-color: #1D4ED8;}
.bg-secondary{ background-color: #0D1B2A;}
.bg-accent{ background-color: #E5E7EB;}
.bg-white{ background-color: #FFFFFF;}
.primary{ color: #2563EB;}
.primary-2{ color: #93C5FD;}
.secondary{ color: #0D1B2A;}
.white{ color: #FFFFFF;}
.gray{ color: #888888;}
.text-color{ color: #575757;}
.black{ color: #000102;}
.accent{ color: #333333;}

/* nav section start*/
nav{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.nav-menu{
    gap: 20px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    transition: all 0.3s;
}
.nav-menu li a:hover{
    color: #000102;
}
.btn{
    padding: 10px 33px;
    border: 1px solid #1D4ED8;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: all 0.3s;
}
.btn:hover{
    transform: scale(0.95);
}
/* nav section close */


/* banner section start */

.hero-banner{
    background: linear-gradient(#000102b7, #0d1b2aa2),
  url("./images/banner.jpg");
    height: 85vh;
    align-items: center; 
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column; 
}

.hero-banner h1{
    font-size: 80px;
    font-weight: 700;
    margin-top: 60px;
}
.hero-banner p{
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 220px;
}
.hero-banner h1 span{
    font-style: italic;
}
/* banner end */

/* meet the speakers section */
.meet-speaker{
    align-items: center; 
    padding: 80px 60px;
}
.main-speakers{
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.speakers{
    width: fit-content;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
}
.speakers-photo{
    overflow: hidden;
}
.speakers-photo img{
    transition: all 0.3s;
}
.speakers-photo img:hover{
    transform: scale(1.05);
}
.speakers-details{
    padding: 30px;
}
.speakers-designation{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
} 
.speakers-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 27.5px;
}
.speakers-job-title, .price-list{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.meet-speaker h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    margin-bottom: 56px;
}
/* meet section end */


/* pricing section */
.pricing{
    padding: 0 60px;
    align-items: center; 
}
.pricing-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.pricing-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.pricing-cards{
    gap: 25px;
    margin: 30px 0;
}
.price-card{
    width: 350px;
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    transition: all 0.3s;
}
.price-card:hover{
    transform: translateY(-4px);
}
.price-card ul{
    padding-left: 15px;
    gap: 15px;
}
.price-card ul li::marker{
    color: #2563EB;
}
.price-card hr{
    border: 1px solid #E5E7EB;
    margin: 15px 0;
}
.plan{
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.price{
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    margin: 6px 0;
}
.billing{
    font-weight: 400;
    text-transform: none;
}
.price-btn{
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
#border-secondary{ 
    border-color: #000102;
}
#pro-pricing-hr{
    border: 1px solid #ffffff1a;
}
.pro-pricing ul li{
    opacity: 0.8;
}
.pro-pricing ul li::marker{
    color: #93C5FD;
}
/* pricing section end */


/* footer start */
footer{
    padding: 60px;
}
.footer-part{
    justify-content: space-between;
    align-items: center; 
}
.footer-right{
    gap: 10px;
}
.footer-right img{
    transition: all 0.3s;
}
.footer-right img:hover{
    transform: translateY(3px);
}
footer hr{
    border: 1px solid #93c4fd94;
    margin: 20px 0;
}
.footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    opacity: 0.4;
}
.footer-policy{
    gap: 15px;
}
.footer-policy a{
    text-decoration: none;
    transition: all 0.3s;
}
.footer-policy a:hover{
    color: #ffffff;
}
/* footer end */