*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
/* for font-family */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* color section */
.bg-primary{ background-color: #1D4ED8;}
.bg-secondary{ background-color: #0D1B2A;}
.bg-accent{ background-color: #E5E7EB;}
.bg-white{ background-color: #FFFFFF;}
.primary{ color: #2563EB;}
.secondary{ color: #0D1B2A;}
.white{ color: #FFFFFF;}
.gray{ color: #888888;}
.text-color{ color: #575757;}
.black{ color: #000102;}
.border-gray{ border-color: #333333;}

/* nav section start*/
nav{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.nav-menu{
    gap: 15px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
}
.btn{
    padding: 10px 33px;
    border: 1px solid #1D4ED8;
    border-radius: 5px;
}
/* nav section close */


/* banner section start */

.hero-banner{
    background-image: url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.hero-banner h1{
    font-size: 80px;
    font-weight: 700;
    margin-top: 50px;
}
.hero-banner p{
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 220px;
}
.hero-banner h1 span{
    font-style: italic;
}
/* banner end */

/* meet the speakers section */
.speakers{
    width: fit-content;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    overflow: hidden;
}
.speakers-details{
    padding: 30px;
}
.speakers-designation{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
} 
.speakers-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 27.5px;
    letter-spacing: 0px;
}
.speakers-job-title{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
}